@media(max-width: 1200px){
  .slider-blur__form-bg{
    background: url("/img/w-bg1200.jpg") no-repeat;
  }
}
@media(max-width: 920px){
  .slider-blur__form-bg{
    background: url("/img/w-bg920.jpg") no-repeat;
  }
}
@media(max-width: 768px){
  .slider-blur__form-bg{
    background: url("/img/w-bg768.jpg") no-repeat;
  }
  .slider-blur__form-wrap{
    width: 360px;
  }
}

@media (max-width: 420px){
  .header-top-title{
    font-size: 16px;
  }
  .header-top{
    min-height: 60px;
  }
  .footer-top{
    height: 100px;
  }
  .footer{
    height: 200px;
  }
  .footer-title{
    font-size: 16px;
  }
  .header-right__img{
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
  }
  .slider-blur__form-wrap{
    width: 320px;
  }
  .slider-blur__form-bg{
    background: url("/img/w-bg420.jpg") no-repeat;
  }
}