@media (max-width: 786px){
  .header-top-title{
    font-size: 16px;
  }
  .header-top{
    min-height: 60px;
  }
  .footer-top{
    height: 100px;
  }
  .footer{
    height: 200px;
  }
  .footer-title{
    font-size: 16px;
  }
  .header-right__img{
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
  }
}