.form{
  width: 100%;
  min-height: 580px;
  background: #b5b5c8;
}


.form-inputs{
  @include input-styles($wight);
  @include border-radius(5px);
}

.form-title{
  @include border-radius(5px);
  color: $wight;
  font-size: 22px;
  margin-top: 10px;
  padding: 5px 0;
  background-color: rgba(#000, .1);
}
.form-error{
  color: red;
  font-size: 16px;
  text-align: center;
}

.form__terms-box{
  @include display-flex(row-reverse, space-between, center);
  @include border-radius(5px);
  box-sizing: border-box;
  padding: 0 10px 3px 10px;
  background-color: rgba(#000, .2);
  width: 270px;
  margin: 0 auto;
}

.form__terms{
  display: block;
  font-size:16px;
  color: $wight;
  margin-top: 7px;
}
.form__checkbox{
  display: block;
  width: 15px;
  height: 15px;
}
.form-inputs_btn{
  @include input-styles($darkblue);
  color: $wight;
}
.enable{
  &:hover{
    background: #464a6f;
    border: none;
    border: 1px solid transparent;
  }
}

.respond-wrap{
  margin: 100px 10px;
  text-align: center;
  color: $wight;
  font-size: 36px;
  background: rgba(#000, 0.3);
}
.respond__one, .respond__tow{

}